<link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">

* {
    margin :0;
    padding :0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

header{
    background: white;
    padding: 20px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 42px; 	       
}

.start {
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    border :3px solid white;
    width: 300px;
    margin: 50px auto;
    color:white;
    border-radius : 15px;
    font-size: 28px;
    padding: 15px 20px;
}

.start:hover {
    cursor:pointer;
}


.instructions {
    font-size: 12px;
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    border :3px solid white;
    width: 200px;
    margin: 5px auto;
    color:white;
    border-radius : 15px;
    padding: 15px 20px;
}

.choices{
    text-align: center;
    margin: 50px auto;

}

.priceImage {
  position: relative;
  text-align: center;
  color: black;
}
.price{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.image {
    border :3px solid white;
    border-radius : 15px;
}


.image:hover{
    cursor:pointer;
}

.choice {
    display: inline-block;
    margin: auto 50px;
    font-size: 24px;

}
