<link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">

* {
    margin :0;
    padding :0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

header{
    background: white;
    padding: 20px;
}

header > h1 {
    color: #25272E;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 52px; 	       
}

.instructions {
    font-size: 22px; 
}



.start {
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    border :3px solid white;
    width: 300px;
    margin: 5px auto;
    color:white;
    border-radius : 15px;
    font-size: 28px;
    padding: 15px 20px;
}

.start:hover {
    cursor:pointer;
}

